.index-page {
  .last-right {
    width: calc(100% - 20px);
  }
  .last-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h5 {
    font-size: 15px;
    color: #474747;
    text-align: left;
    font-weight: bold;
  }
  .last-item {
    display: flex;
    justify-content: flex-start;
    height: 100px;
  }
  .avatar {
    font-size: 20px;
    color: #7f7584;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    margin-right: 20px;
  }
  .avatar-one {
    background-color: #79f2ab;
  }
  .avatar-two {
    background-color: #d078f2;
  }
  .avatar-three {
    background-color: #f0f279;
  }
  .last {
    .last-card {
      margin-right: 20px;
      height: 180px;
    }
  }
  .tag {
    display: flex;
    justify-content: flex-start;
    color: #999;
    > span {
      margin-right: 10px;
      font-size: 13px;
    }
  }
  .card {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      font-size: 54px;
    }
    .card-right {
      margin-left: 20px;
    }
    .number {
      color: #666;
      line-height: 32px;
      font-size: 24px;
      height: 32px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0;
    }
  }
  .card-chart {
    width: 98%;
    margin-bottom: 20px;
    margin-right: 20px;
    .title {
      text-align: center;
    }
  }
}
.test {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}
